* {
    margin: 0;
    padding: 0;
}


div {
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

section {
    display: flex;
    text-align: center;
}

button {
    margin-top: 100px
}